:root {
  --clr-bg-dark: #030613;
  --clr-bg-alt-dark: #0a1928;
  --clr-sub-dark: #213c53;
  --text-clr-dark: #e2f1f5;
  --clr-main-dark: #4fcdb9;

  --reactist-font-family: -apple-system, system-ui, "Segoe UI", Roboto, Noto, Oxygen-Sans, Ubuntu, Cantrell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--clr-bg-dark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.primary-text {
  color: var(--clr-main-dark)
}

/*-----------------------
  Main Header
-----------------------*/
.header {
  padding: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-div-title {
  padding: none;
  text-align: center;
  background-color: var(  --clr-bg-alt-dark);
  width: 100%;
  border-radius: 2em;
}

.header-title {
  margin: 3vh;
  font-size: 2.5em;
}



/*-----------------------
  Tasks Container
-----------------------*/
.task-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-container-header {
  padding: 0.3rem;
  padding-left: 2rem;
  width: 100%;
  margin-bottom: 3%;
}

.sub-heading-text {
  color: var(--clr-main-dark);
  font-size: 1.75em;
  margin: 2vh;
}


/*----------------------------------------
  Task
-----------------------------------------*/
.task {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid var(--clr-sub-dark);
  /* border-left: none;
  border-right: none;
  border-top: none; */
  margin-top: none;
  margin-bottom: 2vh;
  width: 70%;
  transition: 0.1s;
}

.task:hover {
  border: 1px solid var(--clr-main-dark);
  box-shadow: 0 0 3px gray;
}

.task:hover .delete-button {
  opacity: 100%;
}

.task-check {
  color: var(--clr-main-dark);
  padding: 5px;
}

.checkbox {
  height: 1rem;
  width: 1rem;
  transform: scale(1.4);
  transform-origin: center;
  border: 2px solid white;
  border-radius: 50%;
  background-color: var(--clr-bg-dark);
  transition: 0.15s;
}

.checkbox:hover {
  background-color: var(--clr-main-dark);
  box-shadow: 0 0 5px gray;
}

.checkbox:active {
  background-color: var(--text-clr-dark);
  transition: none;
}

.task-description{
  color: var(--clr-main-dark);
  width: 70%;
  padding-left: 3%;
}

.delete-button-div {
  display: flex;
}

.delete-button {
  height: 2rem;
  width: 2rem;
  background-color: var(--clr-bg-dark);
  color: red;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 15%;
  transition: 0.2s;
}

.delete-button:hover {
  background-color: rgb(46, 0, 0);
  box-shadow: 0 0 10px rgb(46, 0, 0);
}

.delete-button:active {
  background-color: rgb(80, 0, 0);
  box-shadow: 0 0 7px rgb(80, 0, 0);
}

.trash-image {
  height: 1.5rem;
}


/*----------------------------------------
  Add Task
-----------------------------------------*/
.add-task {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 8vh;
  width: 70%;
}

.add-task-button {
  margin-left: 25px;
  margin-right: 20px;
  height: 1.75rem;
  width: 1.75rem;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-bg-dark);
  font-size: 2em;
  color: var(--text-clr-dark);
  transition: 0.15s;
  padding-top: 2px;
}

.add-task-button:hover {
  box-shadow: 0 0 0.2rem white;
  background-color: var(--clr-main-dark);
}

.add-task-button:active {
  background-color: var(--text-clr-dark);
}

.add-task-image {
  height: 1.5rem;
  margin-right: 1px;
}

.add-task-input {
  margin-left: 3rem;
  font-size: 1.25em;
  background-color: var(--clr-sub-dark);
  border: none;
  padding: 4px;
  color: var(--text-clr-dark);
  border-radius: 5px;
  width: fit-content;
  line-height: 120%;
  transition: 0.1s;
  opacity: 50%;
}

.add-task-input:hover {
  opacity: 100%;
}

.add-task-input:active {
  border: 2px solid var(--clr-main-dark);
  opacity: 100%;
}


/*----------------------------------------
  Completed Task
-----------------------------------------*/
.task-complete {
  color: var(--clr-sub-dark);
  text-decoration: line-through solid var(--clr-sub-dark) 10%;
  transition: 0.1s;
}

.task-complete:hover .task-description-complete{
  color: var(--clr-main-dark);
  text-decoration: line-through solid var(--clr-main-dark) 10%;
  transition: 0.1s;
}

.task-description-complete {
  color: var(--clr-sub-dark);
}